#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#features6-3 P {
  text-align: center;
}
#features6-3 .sage-iconfont {
  color: #7e9b9f !important;
}
#header3-17 .sage-section-title,
#header3-17 .sage-section-subtitle {
  text-align: center;
}
#header3-17 H3 {
  color: #ffffff;
}
#gallery1-18 .sage-gallery-title {
  font-size: 17px;
  text-align: center;
}
#msg-box4-18 H3 {
  color: #000000;
}
#msg-box4-18 P {
  color: #353535;
}
#social-buttons1-18 .sage-section-title {
  font-size: 48px;
}
#features6-9 .sage-iconfont {
  color: #7e9b9f !important;
}
#testimonials3-13 .sage-section-title {
  color: #000000;
}
#testimonials3-13 .sage-author-name {
  color: #ccc;
}
#testimonials3-13 .card-footer > div {
  color: #000000;
}
#testimonials3-13 .card-footer > small {
  color: #7e9b9f;
}
#testimonials1-14 .card-block {
  text-align: left;
}
#testimonials1-15 .card-block {
  text-align: left;
}
#msg-box3-19 .sage-section-title,
#msg-box3-19 p {
  color: #000;
}
#social-buttons4-18 .sage-section-title,
#social-buttons4-18 .btn-social {
  color: #fff;
}
#contacts3-42 .card-img-top {
  height: 100px;
}
#footer1-18 P {
  text-align: right;
}

